<div class="container">
	<div class="text-center">
	<h1>HACKLAUNCH</h1>
<div class="border">
<div class="transbox">
	<p>We're making it easier to merchandise brick and mortar stores.</p>

	<h6>Enter your email to receive an invitation to become a beta user.<br><b>Limited spots available.</b></h6>
	</div>
	
	<div class="wrapper">
		<div class="sign-up">

		<%= form_tag '/welcome' do %>
			<div class="input-group">
			  <input type="Email" class="form-control" placeholder="Type in your email here to get more info!" aria-describedby="basic-addon1" name="email" required>
			  <span class="input-group-btn">
			          <input type="Submit" class="btn btn-default" value="GO">
			  </span>
			</div>
		<% end %>
		</div>
	</div>
</div>
</div>
</div>





