<div class="container">
	<h1>My Blog</h1>
	
	<h4><%= link_to "Create a New Post", new_post_path %></h4>

	<div class="text-center">
	<% @posts.each do |post| %>
		<ul style="list-style: none;">
			<li> 
			<h2><%= link_to(post.title.capitalize, post)%></h2>
			</li>
		</ul>
	<% end %>
	</div>

</div>	